.section-right {
    margin-left: 100px;
    border-left: 1px solid var(--light-grey);
    padding-left: 100px;
}

.inputfields {
    width: 422px;
    height: 51px;
}

.textareas {
    width: 422px;
    height: 110px;
}

.border-fields {
    border: 1px solid var(--light-grey);
    border-radius: 10px;
}

.input-with-image {
    background-color: var(--white);
}

.inputfield-nearby-icon {
    width: 90%;
    height: 90%;
    border: unset;
    outline: none;
}

.inputfields-small {
    width: 134px;
    height: 51px;
}

.checkbox-text {
    font-size: 12px;
    margin-left: 16px;
}

input[type="checkbox"]:checked{
    background-color: var(--black);
}

.add-task-titles {
    font-size: 18px;
    font-weight: 400;
}
