.bg-category-Marketing {
    background-color: var(--marketing);
}

.bg-category-Developtment {
    background-color: var(--developtment);
}

.bg-category-Sales {
    background-color: var(--sales);
}

.bg-category-Backoffice {
    background-color: var(--backoffice);
}

.bg-category-Design {
    background-color: var(--design);
}

.bg-category-Media {
    background-color: var(--media);
}

.searchbox {
    border: 1px solid lightgrey;
    background-color: var(--white);
    border-radius: 10px;
    padding: 5px 10px;
}

.board-headline{
    position: sticky;
    top: 0;
}

.searchbox img {
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
    padding-left: 0;
}

.addTask-btn-icons {
    width: 16px;
    height: 16px;
    padding-left: 8px;
}

.inputfield {
    border: unset;
    outline: none;
    height: 35px;
    margin-left: 10px;
}

.search-line {
    width: 0;
    height: 31px;
    border-left: 0.5px solid var(--light-grey);
    border-radius: 10px;
}

.main-board {
    max-height: calc(100vh - 247px);
    position: relative;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    padding-right: 24px;
}

.board-icons{
    width: 15px;
    height: 15px;
    margin-left: 8px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
}

.board-inner-card {
    width: 250px;
    justify-content: flex-start;
    align-items: flex-start;
}

.board-text {
    margin: 15px;
}

.board-heads{
    background-color: var(--bg-grey);
    position: sticky;
    padding-bottom: 16px;
    top: 0;
}

.board-card {
    width: 250px;
}

.board-category {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.board-title {
    font-weight: 700;
}

.progressbar-outer {
    width: 210px;
    
}

.progressbar-inner {
    
    width: 150px;
    background-color: var(--light-grey);
    margin-right: 15px;
    border-radius: 10px;
}

.bar {
    height: 5px;
    width: 1%;
    background-color: var(--progress);
}

.board-assigned {
    width: 210px;
}

.assigned-outer {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-top: 4px;
    background-color: var(--white);
}

.assigned-inner {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 14px;
    color: var(--white);
}

.position-circle {
    position: relative;
}
.relative {
    position: absolute;
    left: -10px
}

.board-footer{
    min-height: 80px;
}

.task-overlay {
    width: 500px;
    height: 75vh;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    margin-left: 250px; 
}