:root{
    --dark-blue: #2A3647;
    --light-blue: #29ABE2;
    --bg-grey:  #F6F7F8;
    --light-grey: #D1D1D1;  
    --white: #FFFFFF;   
    --black: #000000;   
    --urgent: #FF3D00;
    --low: #7ae229;
    --medium: #ffa800;
}

body {
    margin: 0;
    font-family: Inter;
    background-color: var(--bg-grey);
}

.content {
    position: absolute;
    top: 160px;
    left: 373px;
}

h1 {
    font-size: 61px;
}

.p-12 {
    padding: 12px;
}

.m-top-28 {
    margin-top: 28px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.text-align-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.color-white{
    color: var(--white);
}

.bg-urgent{
    background-color: var(--urgent);
}

.bg-low{
    background-color: var(--low);
}

.bg-medium{
    background-color: var(--medium);
}

.filter-white{
    filter: invert(100%) sepia(0%) saturate(5578%) hue-rotate(131deg) brightness(108%) contrast(110%);
}

::placeholder {
    opacity: 0.5;
    font-size: 16px;
}

