body {
    margin: 0;
    font-family: Inter;
    background-color: #F6F7F8;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}


.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.text-align-center {
    text-align: center;
}

.w-100{
    width: 100%;
}