@media (max-height: 1120px) {

    .welcome {
        display: none;
    }

    .welcome-mobile {
        display: flex;
        position: absolute;
        align-items: center;
        background-color: var(--bg-grey);
        top: -85px;
        right: 0;
        bottom: -85px;
        left: 0;
        animation: fadeOpacityOut 3s ease 1500ms 1 normal forwards;
    }
}


@media (max-height: 980px) {
    .content-cards-bottom-single {
        height: 110px;
    }

    .content-cards-middle-single {
        height: 120px;
    }

    .content-cards-middle {
        margin-bottom: 24px;
    }

    .content-cards-top {
        margin-bottom: 24px;
    }
}

@media (max-height: 920px) {
    .logo-container {
        margin-top: 16px !important;
    }

    .login-content-container {
        margin-top: 24px !important;
    }

    .contact-overlay {
        height: 700px;
    }

    .close-img {
        top: -294px;
    }

}

@media (max-height: 920px) and (max-width: 770px){
    .right-section {
        left: 24px;
        top: 50px;
    }
}

@media (max-height: 820px) {
    .login-content-container {
        margin-top: 24px !important;
    }

    .logout {
        top: 80px;
    }

    .logo-container {
        margin-top: 0 !important;
    }

    .join-logo {
        padding-top: 24px;
        width: 50px;
    }

    .input-container-login {
        margin-top: 28px;
    }

    .input-contact {
        height: 24px;
        font-size: 18px;
    }

    .login-content {
        height: 470px
    }

    .not-join-user {
        position: absolute;
        bottom: 50px;
        right: 0px;
        width: 100%;
        justify-content: center;
    }

    .navbar-join-logo {
        height: 90px;
    }

    .contact-overlay {
        margin-top: 50px;
        height: 630px;
    }

    .close-img {
        top: -265px;
    }

    .navbar-inner-container {
        height: 100vh;
    }

    .content-cards-bottom-single {
        height: 85px;
    }

    .content-cards-middle {
        height: 100px;
    }

    .content {
        padding-top: 120px;
    }

    .f-55 {
        font-size: 33px;
    }

    .f-21 {
        font-size: 16px !important;
    }

    .header {
        height: 80px;
    }

    .content-contacts {
        top: 80px;
    }

    .content {
        padding-top: 97px;
    }

    .content-cards-middle-single {
        height: 95px;
    }

    .card-line {
        height: 70px;
    }

    #summary-h1 {
        margin-bottom: 16px;
    }

    .headline-line {
        margin: -15px 0 0 0;
    }

    .content-cards-top-single {
        height: 98px;
    }

    .header {
        height: 80px;
    }

    #add-task-btns {
        top: -3px;
    }
}


@media (max-height: 700px) {


    #contact-content-mobile {
        height: 60vh;
        overflow-y: auto;
    }

    .content {
        padding-top: 87px;
    }


    #summary-h1 {
        margin-top: 0;
        margin-bottom: 8px;
    }

    .summary-card-img {
        width: 55px;
    }

    .content-cards-top-single {
        height: 84px;
        padding: 3px;
        gap: 0;
        box-sizing: border-box;
    }

    .content-cards-middle-single {
        height: 84px;
    }

    .content-cards-bottom-single {
        height: 73px;
    }

    .f-21 {
        font-size: 15px !important;
    }


    h1 {
        font-size: 39px !important;
    }

    .content-cards-top {
        margin-bottom: 16px;
    }

    .content-cards-middle {
        margin-bottom: 16px;
    }

    .contact-overlay {
        height: 560px;
    }

    .close-img {
        top: -235px;
    }

    .btn-container-contacts {
        bottom: -283px;
    }

    .login-content {
        height: 407px;
    }
}


@media(max-width: 770px) and (max-height: 700px) {
    .navbar {
        height: 80px !important;
    }

    .content-contacts {
        top: 80px !important;
    }

    .content {
        padding-top: 87px;
    }

    .content-cards-top {
        margin-bottom: 16px;
    }

    .board-title {
        max-width: 320px;
    }

    .progressbar-outer {
        width: 235px;
    }

    .progressbar-inner {
        width: 149px;
    }

    .board-assigned {
        width: 230px;
    }

    .right-section {
        top: 24px;
    }
}