@media(max-width: 1000px) {

    .subtitle-overlay {
        font-size: 18px;
        color: white;
    }

    h2 {
        font-size: 36px;
    }

    .overlay-left {
        width: 100%;
        align-items: center;
        border-radius: 10px 10px 0 0;
        height: 45%;
    }

    .contact-overlay {
        flex-direction: column;
        width: 450px;
        height: 73vh;
    }

    .contact-avatar-input {
        position: absolute;
        flex-direction: column;
        top: 101px;
        left: 0;
        right: 0;
    }

    #cancel-btn-contacts {
        display: none;
    }

    .btn-container-contacts {
        position: absolute;
        bottom: -322px;
    }

    .close-img {
        position: absolute;
        top: -255px;
        filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(120deg) brightness(108%) contrast(100%);
    }

    #kanban-subheadline {
        font-size: 18px;
        position: absolute;
        top: -60px;
        display: block;
    }

    .header-text {
        display: none;
    }

    #kanban-subheadline {
        position: absolute;
        font-size: 18px;
        font-weight: unset;
    }

    #h1-imprint {
        position: relative;
    }

    #create-contact-btn {
        height: 50px;
    }
   
    .content {
        top: 140px;
    }

    .input-contact {
        width: 250px;
    }

    .overlay-right {
        width: 100%;
        position: relative;
    }

    .overlay-logo {
        width: 50px;
    }

    .contact-content {
        padding-top: 100px;
    }

    .join-logo-mobile {
        display: block;
    }

    #kanban-subheadline {
        position: absolute;
        font-size: 18px;
        font-weight: unset;
    }

    .imprint-back {
        position: absolute;
        top: -44px;
        left: 349px;
        width: 30px;
        display: block;
    }

    .content-cards-top-single {
        width: 120px;
        height: 120px;
    }

    .content-cards-middle-single {
        width: 430px;
    }

    .content-cards-bottom-single {
        width: 206px;
    }

    .board-head {
        width: 300px;
    }

    .board-card-header {
        font-size: 35px !important;
    }

    .board-inner-card {
        width: 300px;
    }

    .board-title {
        width: 300px;
    }

    .board-description {
        width: 270px;
    }

    .progressbar-outer {
        width: 270px;
    }

    .progressbar-inner {
        width: 185px;
    }

    .board-assigned {
        width: 265px;
    }

}

@media (max-width: 975px) {

    .board-head {
        width: 280px;
    }

    .board-inner-card {
        width: 280px;
    }

    .board-title {
        width: 280px;
    }

    .progressbar-outer {
        width: 240px;
    }

    .progressbar-inner {
        width: 154px;
    }

    .board-assigned {
        width: 245px;
    }
}

@media (max-width: 925px) {


    .board-headline {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .board-head {
        width: 240px;
    }

    .board-category {
        font-size: 22px;
    }

    .board-inner-card {
        width: 240px;
    }

    .board-title {
        width: 240px;
    }

    .board-description {
        width: 220px;
    }

    .progressbar-outer {
        width: 200px;
    }

    .progressbar-inner {
        width: 114px;
    }

    .board-assigned {
        width: 205px;
    }
}

@media (max-width: 860px) {


    .board-head {
        width: calc(100vw - 355px);
    }


    .board-inner-card {
        width: calc(100vw - 355px);
    }

    .board-title {
        width: calc(100vw - 355px);
    }

    .board-description {
        width: calc(100vw - 387px);
    }

    .progressbar-outer {
        width: calc(100vw - 387px);
    }

    .progressbar-inner {
        width: calc(100vw - 475px);
    }

    .board-assigned {
        width: calc(100vw - 395px);
    }

    .m-left-24 {
        margin-left: 14px;
    }
}