
@media (max-width: 770px) {
    .navbar {
        bottom: 0;
        width: 100vw !important;
        height: 100px !important;
    }

    .navbar-inner-container {
        height: 100% !important;
    }

    .header {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    

    .logo {
        display: none !important;
    }

    .footer {
        display: none !important;
    }


    .menu {
        width: auto !important;
        flex-direction: row !important;
        height: 100% !important;
    }

    .single-menu {
        align-items: center;
        height: 100%;
        box-sizing: border-box;
    }

    .single-menu a {
        flex-direction: column;
    }

    .single-menu img {
        padding-bottom: 8px;
    }

    .menu-text {
        margin-left: 0 !important;
    }

    .menu-container {
        height: 100%;
    }

    .content-contacts {
        left: 0;
        width: 100%;
    }

    .contact-overlay {
        margin-left: 0;
    }

    #new-contact-btn-mobile{
        display: none;
    }

    #edit-contact-mobile{
        display: block;
        width: 52px;
        padding: 6px 0;
        min-width: unset;
    }

    #contact-content-mobile {
        height: 60vh;
        overflow-y: auto;
    }

    .f-55 {
        font-size: 45px;
    }

    .logout {
        right: 30px;
    }

    .content {
        left: 30px !important;
        display: flex;
        padding-top: 108px;
        flex-direction: column;
        position: unset;
        left: 277px;
    }

    h1 {
        text-align: center;
    }

    .section-left {
        display: flex;
        justify-content: center;
    }

    .section-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }

    #add-task-btns {
        position: absolute;
        top: 5px;
        z-index: 1000;
        right: 24px;
    }

    .profile-pic {
        height: 40px;
        width: 40px;
    }

    .inner-circle {
        height: 46px;
        width: 46px;
    }

    .outer-circle {
        height: 53px;
        width: 53px;
    }

    #createTask {
        position: fixed;
        height: 58px;
    }

    #h1-imprint {
        text-align: start;
    }

    .headline-line-text-container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .headline {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .headline-line {
        transform: rotate(90deg);
    }

    #summary-h1 {
        margin-top: 0;
    }

    .header-text-mobile {
        display: block;
    }

    .right-section {
        left: 45px !important;
        top: 50px;
    }
}

@media (max-width: 680px) {
    .single-menu a {
        width: 140px !important;
    }
}

@media (max-width: 665px) {
    .login-content {
        width: 461px;
    }

    .f-55 {
        font-size: 45px;
    }
}

@media (max-width: 560px) {
    .single-menu a {
        width: 110px !important;
    }

    .board-img {
        width: 400px;
    }
}

@media (max-width: 515px) {
    .input-contact {
        width: 200px;
    }

    .not-join-user {
        position: absolute;
        bottom: 50px;
        right: 0px;
        width: 100%;
        justify-content: center;
    }

    .join-logo {
        width: 70px;
    }

    .summary-card-img {
        width: 50px;
    }

    .content-cards-bottom-single {
        width: 170px;
    }

    .content-cards-middle-single {
        width: 358px;
    }

    .content-cards-top {
        gap: 16px;
        width: 358px;
    }

    .contact-overlay {
        width: 400px;
    }
}


@media (max-width: 450px) {

    .imprint-back {
        left: 318px;
    }

    .single-menu a {
        width: 90px !important;
    }

    .navbar {
        height: 80px !important;
    }

    .login-content {
        width: calc(100vw - 32px);
        justify-content: center;
        display: flex;
    }

    .rememberme-forgot {
        flex-direction: column-reverse;
        margin-top: 8px !important;
        align-items: flex-start !important;
    }

    #forgot-password-text {
        margin-left: 24px;
    }

    .rememberme-container {
        margin-left: 24px;
    }

    .f-55 {
        font-size: 40px;
    }

    .login-btn-container {
        flex-direction: column;
        align-items: center;
    }

    .guest-btn-resp {
        text-align: center;
        width: 154px;
        margin-left: 0 !important;
    }

    .h2-login-resp {
        width: 60%;
    }

    .login-overlay {
        background-color: var(--dark-blue);
    }

    .join-logo {
        animation: joinlogoMobile 1s ease 0s 1 normal forwards;
    }

    .input-contact-login {
        height: 24px;
        font-size: 18px;
    }

    .input-container-login {
        margin-top: 28px;
    }

    .guestLogin-btn {
        margin-left: 0;
        width: 100px;
        padding: 8px 16px 8px 16px;
        margin: 4px;
    }

    .login-btn-container {
        margin-top: 8px;
    }

    .not-join-user {
        width: 100%;
        justify-content: center;
    }

    #signup-btn {
        margin: 0 0 0 12px;
        padding: 8px 8px 8px 8px;
        min-width: 100px;
    }

    .login-wrapper {
        width: 350px
    }

    .board-img {
        width: 320px;
    }

}


@media (max-width: 410px) {
    .input-container-login {
        width: 280px;
    }

    .imprint-back {
        left: 231px;
        top: -49px;

    }

    #kanban-subheadline {
        width: 250px;
        top: -69px;
    }

    .contact-overlay {
        width: 330px;
    }
}

@media (max-width: 360px) {
    .single-menu a {
        width: 80px !important;
        font-size: 14px;
    }

    .menu img {
        width: 25px;
        height: 25px;
    }

    .contact-overlay {
        width: 300px;
    }
}

