@media (max-width: 770px) {

    .welcome {
        display: none;
    }

    .welcome-mobile {
        display: flex;
        position: absolute;
        align-items: center;
        background-color: var(--bg-grey);
        top: -85px;
        right: 0;
        bottom: -85px;
        left: 0;
        animation: fadeOpacityOut 3s ease 1500ms 1 normal forwards;
    }

    .navbar {
        bottom: 0;
        width: 100vw !important;
        height: 100px !important;
        z-index: 100;
    }

    .navbar-inner-container {
        height: 100% !important;
    }

    .header {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .logo {
        display: none !important;
    }

    .footer {
        display: none !important;
    }

   
    .input-contact-login {
        width: 275px;
        height: 24px;
    }


    #right-section {
        width: 80vw !important;
    }

    .back-mobile {
        top: -144px;
        right: 40px;
    }

    .edit-container {
        display: none;
    }

    .mobil-button {
        display: flex !important;
        width: 50px;
        height: 50px;
        min-width: unset;
        min-height: unset;
    }

    .mobil-button img {
        padding-left: 0px;
        width: 35px;
        height: 35px;
    }


    .menu {
        width: auto !important;
        flex-direction: row !important;
        height: 100% !important;
    }

    .single-menu {
        align-items: center;
        height: 100%;
        box-sizing: border-box;
    }

    .single-menu a {
        flex-direction: column;
    }

    
    .single-menu img {
        padding-bottom: 8px;
    }

    .menu-text {
        margin-left: 0 !important;
    }

    .menu-container {
        height: 100%;
    }

    .content-contacts {
        left: 0;
        width: 100%;
    }

    .contact-overlay {
        margin-left: 0;
    }


    #new-contact-btn-mobile {
        display: none;
    }

    .new-contact-btn-container {
        position: relative;
    }

    #edit-contact-mobile {
        display: block;
        width: 52px;
        padding: 6px 0;
        min-width: unset;
        position: absolute;
        top: -73px;
        right: 0;
    }

    .content {
        left: 30px !important;
        display: flex;
        padding-top: 120px;
        flex-direction: column;
        position: unset;
        left: 277px;
        margin-left: 50px;
        margin-right: 50px;
    }

    h1 {
        text-align: center;
    }

    #contact-content-mobile {
        height: 60vh;
        overflow-y: auto;
    }

    .f-55 {
        font-size: 45px;
    }

    .logout {
        right: 30px;
    }


    .section-left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .section-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }

    #add-task-btns {
        position: absolute;
        top: 5px;
        z-index: 1000;
        right: 24px;
    }

    .profile-pic {
        height: 40px;
        width: 40px;
    }

    .inner-circle {
        height: 46px;
        width: 46px;
    }

    .outer-circle {
        height: 53px;
        width: 53px;
    }

    #createTask {
        position: fixed;
        height: 58px;
    }

    #h1-imprint {
        text-align: start;
    }

    .headline-line-text-container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .headline {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .headline-line {
        transform: rotate(90deg);
    }

    #summary-h1 {
        margin-top: 0;
    }

    .header-text-mobile {
        display: block;
    }

    .right-section {
        left: 45px !important;
        top: 50px;
    }

    
    .board-headline {
        width: 100%;
        align-items: flex-start;
    }

    .board-head {
        width: 670px;
    }

    .board-inner-card {
        width: 670px;
    }

    .board-title {
        width: 640px;
    }

    .board-description {
        width: 640px;
    }

    .progressbar-outer {
        width: 640px;
    }

    .progressbar-inner {
        width: 550px;
    }

    .board-assigned {
        width: 630px;
    }

    .board-footer {
        min-height: 150px;
    }

    .searchbox {
        width: 300px;
    }

    .main-board {
        width: 105%;
        max-width: unset;
        padding-right: 0;
        overflow-y: unset;
    }

    
    .static-button {
        display: none;
    }

    .board-card {
        width: 100%;
    }

    .mobil-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        width: 670px;
        /* TODO */
    }

    .help-content{
       padding-top: 158px !important;
       padding-bottom: 80px;
    }
}

@media (max-width: 730px) {
    .mobil-head {
        width: 620px;
    }

    .board-head {
        width: 620px;
    }

    .board-inner-card {
        width: 620px;
    }

    .board-title {
        width: 590px;
    }

    .board-description {
        width: 590px;
    }

    .progressbar-outer {
        width: 590px;
    }

    .progressbar-inner {
        width: 500px;
    }

    .board-assigned {
        width: 580px;
    }
}


@media (max-width: 680px) {
    .single-menu a {
        width: 140px !important;
    }
}



@media (max-width: 671px) {

    .mobil-head {
        width: 570px;
    }

    .board-head {
        width: 570px;
    }

    .board-inner-card {
        width: 570px;
    }

    .board-title {
        width: 540px;
    }

    .board-description {
        width: 540px;
    }

    .progressbar-outer {
        width: 540px;
    }

    .progressbar-inner {
        width: 450px;
    }

    .board-assigned {
        width: 530px;
    }
}


@media (max-width: 665px) {
    .login-content {
        width: 461px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .f-55 {
        font-size: 45px;
    }

    .password-mask {
        width: 580px;
    }
}


@media (max-width: 624px) {

    .mobil-head {
        width: 520px;
    }

    .board-head {
        width: 520px;
    }

    .board-inner-card {
        width: 520px;
    }

    .board-title {
        width: 490px;
    }

    .board-description {
        width: 490px;
    }

    .progressbar-outer {
        width: 490px;
    }

    .progressbar-inner {
        width: 400px;
    }

    .board-assigned {
        width: 480px;
    }

}

@media (max-width: 574px) {

    .mobil-head {
        width: 470px;
    }

    .board-head {
        width: 470px;
    }

    .board-inner-card {
        width: 470px;
    }

    .board-title {
        width: 440px;
    }

    .board-description {
        width: 440px;
    }

    .progressbar-outer {
        width: 440px;
    }

    .progressbar-inner {
        width: 350px;
    }

    .board-assigned {
        width: 430px;
    }

}

@media (max-width: 560px) {
    .single-menu a {
        width: 110px !important;
    }

    .board-img {
        width: 400px;
    }
}

@media (max-width: 524px) {

    .mobil-head {
        width: 420px;
    }

    .board-head {
        width: 420px;
    }

    .board-inner-card {
        width: 420px;
    }

    .board-title {
        width: 390px;
    }

    .board-description {
        width: 390px;
    }

    .progressbar-outer {
        width: 390px;
    }

    .progressbar-inner {
        width: 300px;
    }

    .board-assigned {
        width: 380px;
    }

}


@media (max-width: 515px) {
    .input-contact {
        width: 200px;
    }

    .not-join-user {
        position: absolute;
        bottom: 50px;
        right: 0px;
        width: 100%;
        justify-content: center;
    }

    .join-logo {
        width: 70px;
    }

    .summary-card-img {
        width: 50px !important;
    }

    .content-cards-bottom-single {
        width: 170px;
    }

    .content-cards-middle-single {
        width: 358px;
    }

    .content-cards-top {
        gap: 16px;
        width: 358px;
    }

    .contact-overlay {
        width: 400px;
    }
}



@media (max-width: 474px) {

    .mobil-head {
        width: 370px;
    }

    .board-head {
        width: 370px;
    }

    .board-inner-card {
        width: 370px;
    }

    .board-title {
        width: 340px;
    }

    .board-description {
        width: 340px;
    }

    .progressbar-outer {
        width: 340px;
    }

    .progressbar-inner {
        width: 250px;
    }

    .board-assigned {
        width: 330px;
    }
}

@media (max-width: 450px) {

    .imprint-back {
        left: 318px;
    }

    .single-menu a {
        width: 90px !important;
    }

    .navbar {
        height: 80px !important;
    }

    .content-contacts {
        top: 80px;
    }

    .login-content {
        width: calc(100vw - 32px);
        justify-content: center;
        display: flex;
    }

    .rememberme-forgot {
        flex-direction: column-reverse;
        margin-top: 8px !important;
        align-items: flex-start !important;
    }

    #forgot-password-text {
        margin-left: 24px;
    }

    .rememberme-container {
        margin-left: 24px;
    }

    .f-55 {
        font-size: 40px;
    }

    .login-btn-container {
        flex-direction: column;
        align-items: center;
    }

    .guest-btn-resp {
        text-align: center;
        width: 154px;
        margin-left: 0 !important;
    }

    .h2-login-resp {
        width: 60%;
    }

    .login-overlay {
        background-color: var(--dark-blue);
    }

    .join-logo {
        animation: joinlogoMobile 1s ease 0s 1 normal forwards;
    }

    .input-contact-login {
        height: 24px;
        font-size: 18px;
    }

    .input-container-login {
        margin-top: 28px;
    }

    .guestLogin-btn {
        margin-left: 0;
        width: 100px;
        padding: 8px 16px 8px 16px;
        margin: 4px;
    }

    .login-btn-container {
        margin-top: 8px;
    }

    .not-join-user {
        width: 100%;
        justify-content: center;
    }

    #signup-btn {
        margin: 0 0 0 12px;
        padding: 8px 8px 8px 8px;
        min-width: 100px;
    }

    .login-wrapper {
        width: 350px
    }

    .input-container-login {
        width: 246px;
    }

    .board-img {
        width: 320px;
    }

    
    .right-section {
        left: 24px !important;
        top: 20px;
    }

    h1 {
        margin: 8px 0;
    }

    .contact-name-big {
        font-size: 20px !important;
    }

    .contact-avatar-outer-big {
        width: 65px !important;
        height: 65px !important;
    }

    .contact-avatar-big {
        width: 60px !important;
        height: 60px !important;
    }

    .contact-avatar-big img {
        width: 47px;
        height: 47px;
    }

    .contact-avatar-input {
        top: 92px !important;
    }

    #names-letter {
        font-size: 27px !important;
    }

    .back-mobile {
        top: -108px;
        right: 12px;
    }
}


@media (max-width: 424px) {

    .mobil-head {
        width: 320px;
    }

    .board-head {
        width: 320px;
    }

    .board-inner-card {
        width: 320px;
    }

    .board-title {
        width: 290px;
    }

    .board-description {
        width: 290px;
    }

    .progressbar-outer {
        width: 290px;
    }

    .progressbar-inner {
        width: 200px;
    }

    .board-assigned {
        width: 280px;
    }

}


@media (max-width: 410px) {
   
    .imprint-back {
        left: 231px;
        top: -49px;

    }

    #kanban-subheadline {
        width: 250px;
        top: -69px;
    }

    .contact-overlay {
        width: 330px;
    }

    .content-cards-top {
        gap: 17px;
        width: 334px;
    }

    .content-cards-middle-single {
        width: 334px;
    }

    .content-cards-bottom {
        gap: 16px;
    }

    .content-cards-bottom-single {
        width: 159px;
    }

    .f-55 {
        font-size: 28px !important;
    }

    .f-47 {
        font-size: 32px;
    }
}


@media (max-width: 375px) {

    .searchbox {
        width: 250px;
    }

    .mobil-head {
        width: 270px;
    }

    .board-head {
        width: 270px;
    }

    .board-inner-card {
        width: 270px;
    }

    .board-title {
        width: 240px;
    }

    .board-description {
        width: 240px;
    }

    .progressbar-outer {
        width: 240px;
    }

    .progressbar-inner {
        width: 150px;
    }

    .board-assigned {
        width: 230px;
    }

    .board-img {
        width: 270px;
    }
}

@media (max-width: 360px) {
    .single-menu a {
        width: 80px !important;
        font-size: 14px;
    }

    .menu img {
        width: 25px;
        height: 25px;
    }

    .contact-overlay {
        width: 300px;
    }

    .searchbox {
        width: 230px;
    }

    .mobil-head {
        width: 250px;
    }

    .board-head {
        width: 250px;
    }

    .board-inner-card {
        width: 250px;
    }

    .board-title {
        width: 220px;
    }

    .board-description {
        width: 220px;
    }

    .progressbar-outer {
        width: 220px;
    }

    .progressbar-inner {
        width: 130px;
    }

    .board-assigned {
        width: 210px;
    }
}